# Core
fastapi
uvicorn
requests
python-dotenv
google-cloud-aiplatform
google-cloud-firestore
google-cloud-secret-manager==2.16.2
pydantic
pydantic-settings
chargebee
email-validator
firebase-admin
httpx

# Linting & Formatting
ruff==0.4.2

# Testing
pytest==8.1.1
pytest-asyncio==0.23.6

# Type Checking
mypy==1.9.0

# For MCP microservices (example, can be split per service)
hubspot-api-client==8.1.1
